HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Pinpoint Agent (binaries are installed manually on server) ###
pinpoint-agent/*.jar
pinpoint-agent/*.tar.gz
pinpoint-agent/lib/
pinpoint-agent/plugin/
pinpoint-agent/profiles/
pinpoint-agent/script/
pinpoint-agent/tools/

### firebase ###
/src/main/resources/firebase/dorumdorum-9ce75-firebase-adminsdk-fbsvc-8d66c0dccb.json

### claude ###
.claude

### env ###
.env
/analysis/

# macOS artefacts
.DS_Store

docs/